@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80' width='80' height='80'%3E%3Cpath fill='%23ffffff' fill-opacity='0.4' d='M14 16H9v-2h5V9.87a4 4 0 1 1 2 0V14h5v2h-5v15.95A10 10 0 0 0 23.66 27l-3.46-2 8.2-2.2-2.9 5a12 12 0 0 1-21 0l-2.89-5 8.2 2.2-3.47 2A10 10 0 0 0 14 31.95V16zm40 40h-5v-2h5v-4.13a4 4 0 1 1 2 0V54h5v2h-5v15.95A10 10 0 0 0 63.66 67l-3.47-2 8.2-2.2-2.88 5a12 12 0 0 1-21.02 0l-2.88-5 8.2 2.2-3.47 2A10 10 0 0 0 54 71.95V56zm-39 6a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm40-40a2 2 0 1 1 0-4 2 2 0 0 1 0 4zM15 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm40 40a2 2 0 1 0 0-4 2 2 0 0 0 0 4z'%3E%3C/path%3E%3C/svg%3E");
background-position: center;
  background-size: auto;
  background-size: 35%;
}

.wrapper {
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(67, 66, 66, 0.015);
    backdrop-filter: blur(4px);
    box-shadow: 0 5px 25px rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    background-color: rgba(86, 85, 85, 0.422);
}

form h2 {
    color: #fff;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.8px;
}

.input-group {
    position: relative;
    margin: 35px auto 0;
    width: 320px;
}

.input-group input {
    font-size: 20px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding: 5px 0;
    background-color: transparent;
    border-bottom: 2px solid #fff;
}

.input-group .label {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    transition: all 0.3s ease;
    pointer-events: none;
}

.input-group input:focus~.label,
.input-group input:valid~.label {
    top: -20px;
    font-size: 14px;
    color: #efe9e9;
}

.check label {
    margin: 20px 0;
    font-size: 14px;
    color: #fff;
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 20px;
}

.check label input {
    appearance: none;
    position: absolute;
    left: 0;
}

.check label input::before {
    content: '';
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15px;
    width: 15px;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.015);
    color: #fff;
    top: 50%;
}

.check label input:checked::before {
    content: '\2714';
    background: rgba(255, 255, 255, 0.15);
}

form button {
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 5px;
    padding: 12px;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    transition: 0.3s ease;
}

form button:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

.signin {
    margin-top: 20px;
    text-align: center;
}

.signin p {
    color: #fff;
    font-size: 14px;
}

.signin p a {
    color: #fff;
    text-decoration: none;
}

.signin p a:hover {
    opacity: 0.8;
    transform: 0.3s;
}
