<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../stylesheets/login.css">
</head>
<body>
    <div class="wrapper">
        <form autocomplete="off">
            <h2>Login</h2>
            <div class="input-group">
                <input type="text" id="input" required>
                <label for="input" class="label">Username</label>
            </div>
            <div class="input-group">
                <input type="password" id="input" required>
                <label for="input" class="label">Password</label>
            </div>

            <div class="check">
                <label>
                    <input type="checkbox">
                    <span>Remember me</span>
                </label>
            </div>
            <button type="submit">Login</button>
            <div class="signin">
                <p>Don't have an account? <a href="./signup.html">Sign Up</a></p>
            </div>
        </form>
    </div>
</body>
</html>
